{% extends "layout.html" %}

{% block title %}
Tweeter
{% endblock %}

{% block content %}
<div class="container my-5">
    <h1 class="text-center text-white mt-4">Welcome to the Django Project Tweeter.</h1>
    <div class="row justify-content-center">
        <div class="col-md-6">
            <div class="card bg-dark text-light">
                <div class="card-header text-center">
                    <h3>Latest Tweets</h3>
                </div>
                <div class="card-body">
                    <p class="card-text">Stay updated with the latest trends and tweets from the community.</p>
                    <a href="{% url 'tweet_list' %}" class="btn btn-primary w-100">View Tweets</a>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
